@media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero-section {
        padding-top: 5em; 
    }
    .signUp {
        /* font-weight: 500; */
        font-size: 16px;
        background: #3671E9;
        width: 90px;
        padding: 5px 0;
        margin-top: 1em;
        transform: translateX(-8%);
    }
    .offer-bar {
        padding-top: 0;
    }
    .offer-bar div:nth-of-type(2) h1 {
        font-weight: 500;
        font-size: 32px;
        text-align: left;
        line-height: 32px;
        padding-top: 1em;
    }
    .offer-bar div:nth-of-type(1) {
        display: none;
    }
    .navbar {
        padding-bottom: 0 !important;
        padding-top: 2rem !important;
    }
    .offer-bar div:nth-of-type(3) p {
        font-size: 20px;
    }
    .data-container {
        padding: 6em 0 0 0;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .data-img {
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .data-text {
        width: auto;
        margin: auto;
        padding-top: 1em;
    }
    .data-text h1 {
        font-size: 32px;

    }
    .info-section {
        padding-bottom: 2em;
    }
    .info-section > div > div {
        justify-content: center;
        text-align: center;
        margin: auto;

    }
    .crypto-text {
        width: 100%;
    }
    .crypto-text h1 {
        font-size: 32px;
    }
    .crypto-text p {
        margin: auto;
    }
    .crypto-description {
        padding-top: 5em;
    }
    .crypto-description h1 {
        font-size: 32px;
    }
    .cta-btn {
        width: 183px;
        height: 3em;
        padding: 0;
    }
    .cta-btn img {
        margin-left: 0.4em;
        transform: translateY(-5%);
    }
    .info-section .calc-div {
        width: 75%;
        height: 371px;
        position: relative;
        transform: none;
        border-radius: 16px;
        padding: 1em;
        margin: 2em auto;
    }
    form {
        text-align: center;
    }
    .form-control {
        width: 285px;
        text-align: center;
        margin: auto;
    }
    .form-group {
        padding: 0 !important;
        display: flex;
        flex-direction: column;

    
    }
    .calc-type {
        width: auto;
    }
    .info-section .calc-div .calc-type select {
        margin-top: 1em;
        margin-left: 0.5em;
    }
    .info-section .calc-div .btn-div button {
        font-size: 16px;
        margin: 2em 0 0 0;
        padding: 0.5em 1em;
    }
    .calc {
        padding: 0;
        text-align: center;
    }
    
    .info-section .calc-div .calc p span:first-of-type {
        font-size: 22px;
    }
    .info-section .calc-div .calc p span:last-of-type {
        font-size: 22px;
    }
    .info-section .calc-div .calc p:last-of-type {
        line-height: 1.3em;
    }
    .crypto-section {
        padding-top: 5em;
    }
    .crypto-section > div:first-child h1 {
        font-size: 32px;
        width: 100%;

    }
    .statistics-section > div > h1 {
        font-size: 32px;
        width: 100%;
        padding: 0%;
    }
    .statistics {
        padding: 0%;
    }
    .statistics > p {
        width: 100%;
        padding-bottom: 4em;
    }
    .learn {
        font-size: 16px;
        width: 142px;
        height: 3em;
        padding: 0;
    }
    .chart {
        width: 100%;
        height: auto;
    }
    .statistics-section {
        display: none;
    }
    .mining h1 {
        line-height: 1em;
    }
    .email-section {
        display: flex !important;
        flex-direction: column;
    }
    .subscribe {
        width: fit-content;
        margin: 1em auto;
    }
    .payment-gateway h1 {
        width: 100%;
        font-size: 20px;
    }
    .brands {
        width: 60px;
        height: 42px;
    }
    .mining {
        padding-top: 1em;
    }
    form:first-child {
        padding-top: 2em;
    }
    .social {
        display: flex;
        justify-content: space-around;
    }
}