
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --navy-blue :#0D0D2B;
    font-family: 'Rubik', sans-serif !important;
    font-style: normal !important;
}

.navbar {
    background: var(--navy-blue);
}
.navbar-toggler {
    background-color: #ffffff;
}
.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-left: 20px;
}
.nav-link:hover {
    color: #FFFFFF;
}
.login {
    font-weight: 500;
    font-size: 16px;
}

.signUp {
    font-weight: 500;
    font-size: 16px;
    background: #3671E9;
    border-radius: 32px;
    width: 100px;
    height: 30px;
    padding: 0;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.hero-section {
    background: var(--navy-blue);
    padding-top: 50px;
}
.hero-container {
    padding-bottom: 10px;
}
.offer-bar {
    padding-top: 78px;
}
.offer-bar div:nth-of-type(1) p {
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    padding: 4px 12px 4px 2px;
}

.offer-bar span:first-child {
    font-weight: 500;
    font-size: 16px;
    color: #0D0D2B;
    background: #FFFFFF;
    letter-spacing: 0.01em;
    border-radius: 32px;
    display: inline-block;
    width: 113px;
    text-align: center;
    padding: 4px 0;

}

.offer-bar span:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    margin-left: 1em;
    color: #FFFFFF;
}
.offer-bar div:nth-of-type(2) h1 {
    color: #ffffff;
    margin-top: 0.3em; 
    font-weight: 700;  
    font-size: 64px;
    line-height: 76px;
}
.offer-bar div:nth-of-type(3) {
    display: inline-block;
    width: 65%;
    margin-top: 1.5em;
}
    
.offer-bar div:nth-of-type(3) p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
}
.cta-btn {
    width: 202px;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background: #3671E9;
    border-radius: 32px;
    padding: 16px;
    margin-top: 2em;
}
.cta-btn:hover {
    background: #3671E9 !important;
    color: #FFFFFF !important;
}
.cta-btn img {
    margin-left: 24px;
    width: 32px;
    height: 32px;
}
.custom-back1 {
    position: absolute;
    width: 120px;
    height: 997.88px;
    left: 42%;
    top: 270px;
    background: linear-gradient(180.09deg, rgba(255, 255, 255, 0) 0.49%, rgba(255, 255, 255, 0.04) 39.06%, rgba(255, 255, 255, 0) 99.92%);
    transform: rotate(-120deg);
}
.custom-back2 {
    position: absolute;
    width: 120px;
    height: 997.88px;
    left: 72%;
    top: 25%; 
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 34.75%, rgba(255, 255, 255, 0.01) 100%);
    transform: rotate(-120deg);
    border-top-left-radius: 100% 10%;
    border-top-right-radius: 10px 5px;
    border-bottom-left-radius: 90% 10%;
}

.data-container {
    padding-top: 235px;
}
.data-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252540;
    border-radius: 50px;
    width: 80px;
    height: 80px;
}
.data-text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
}
.data-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
}
.info-section {
    background: var(--navy-blue);
    padding: 80px 0 60px 0;
}
.info-section img-div {
    width: 650px;
    height: 473px;  
}
.info-section img {
    max-width: 100%;
    max-height: 100%; 
}
.crypto-text {
    width: 489px;
    height: 318.89px;
    padding-top: 90px;
}
.crypto-text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
}
.crypto-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    max-width: 408px;
    height: 83.96px;
}
.learn {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    background: #3671E9;
    border-radius: 32px;
    padding: 16px 24px;
    width: 162px;
    height: 59px;
    margin-top: 2em;
}
.learn:hover {
    color: #FFFFFF !important;
    background: #3671E9 !important; 
}
.crypto-text .button:hover {
    background: #3671E9;
    color: #FFFFFF;
}
.crypto-description {
    padding-top: 165px;
}
.crypto-description h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 25px;
}
.crypto-description p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #E0E0E0;
    max-width: 622px;
    height: 54px;
    margin: auto;
}

.info-section .calc-div {
    width: 942px;
    height: 371px;
    margin: 3em auto 0 auto;
    background: #FBFCFE;
    border-radius: 16px;
    padding: 48px;
    filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
} 
.info-section .calc-div .calc-type select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #0D0D2B;
    mix-blend-mode: normal;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    width: 200px;
    background-image: url('../img/dropdown-arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 0px) center;
    background-size: auto;
    transform: translateY(-5px);
}

.info-section .calc-div .btn-div button {
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background: #3671E9;
    border-radius: 32px;
    margin-left: 45px;
    padding: 16px 32px;
    transform: translateY(-10px);
}
.info-section .calc-div .calc h2 {
    font-weight: 500;
    font-size: 16px; 
    line-height: 150%;    
    letter-spacing: 0.04em; 
    text-transform: uppercase;
    color: #3671E9;  
    padding: 48px 0 16px 0;
}
.info-section .calc-div .calc p span:first-of-type {  
    font-weight: 700;   
    font-size: 32px;
    line-height: 150%;    
    letter-spacing: 0.04em;
    color: #0D0D2B;
}
.info-section .calc-div .calc p span:last-of-type {
    font-weight: 700;   
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #3671E9;
}
.info-section .calc-div .calc p:last-of-type {   
    font-weight: 400; 
    font-size: 16px;  
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #828282;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
input[type=number] {
    -moz-appearance: textfield;
}
/* all elements */
::-webkit-input-placeholder { 
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000 !important;
    mix-blend-mode: normal;
    margin-top: 20px;
    border-bottom: 1px solid #E0E0E0;
}
::-moz-placeholder { 
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000 !important;
    mix-blend-mode: normal;
} /* firefox 19+ */
:-ms-input-placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000 !important;
    mix-blend-mode: normal;
 } /* ie */
input:-moz-placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000 !important;
    mix-blend-mode: normal;
}

/* individual elements: webkit */
#hash::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000 !important;
    mix-blend-mode: normal;
}

/* individual elements: mozilla */
#hash::-moz-placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000 !important;
    mix-blend-mode: normal;
}
.form-control {
    border: none;
}
.crypto-section {
    background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
    padding-top: 15em;
}

.crypto-section > div:first-child h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #0D0D2B;
    width: 741px;
    margin: auto;
}
.crypto-section > div:nth-child(2) {
    padding-top: 4em;
    padding-bottom: 100px;
}
.cards {
    display: flex;
    gap: 1em;
}

.card {
    width: 370px;
    height: 433px;
    background: #2B076E;
    backdrop-filter: blur(250px);
    border-radius: 16px;
}
.card-img-top {
    width: 80px;
    height: 80px;
    margin: 48px auto 0 auto;
}
.card-body {
    padding-top: 3em;
}
.crypto-name {
    display: flex;
    gap: 1em;
}
.crypto-name h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.crypto-name p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}
.card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding-top: 16px;
}
.cta-btn1 {
    display: flex;
    margin: 24px auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card1 {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 1px #391777;
    border-radius: 16px;
}
.crypto-name1 {
    display: flex;
    gap: 1em;
}
.crypto-name1 h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #0D0D2B;
}
.crypto-name1 > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #BDBDBD !important;
}
.cta-btn2 {
    width: 64px;
    height: 64px;
    display: flex;
    margin: 24px auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid rgba(43, 7, 110, 0.2);
    border-radius: 50px;
}
.cta-btn2 img:hover {
    border: 2px solid rgba(43, 7, 110, 0.2) !important;
    border-radius: 50px;
}
.cta-btn2 img {
    width: 48px;
    height: 48px;
    margin-left: 0px;
}
.card-text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #828282;
    padding-top: 16px;
}
.statistics-section {
    background: #2B076E;
    height: 1874px;
}
.statistics-section > div {
    padding-top: 100px;
}
.statistics-section > div > h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    width: 758px;
    height: 120px;
    margin: auto;
}
.statistics h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
}
.statistics > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    width: 408px;
    height: 56px;
    padding-top: 1em;
    
}
.statistics {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
}
.chart {
    width: 710px;
    height: 453px;
}
.learn1 {
    margin-top: 4em !important;
}
.statistics1 {
    width: 454px;
    height: 96px;
}
.chart1 {
    width: 682px;
    height: 334px;
    margin-left: 116px;
}
.sr-only {
    display: none;
}
.subscribe-section {
    height: 392px; 
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
    padding-top: 100px;
    padding-bottom: 20em;
}
.subscribe-section > div {
    background: #3671E9;
    border-radius: 16px;
    height: 216px;
}
.mining {
    margin: 0;
}
.mining h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.mining p {
    width: 348px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-top: 1em;

}
.form-control {
    width: 374px;
    height: 35px;
    background-color: transparent;

}
input:focus,
select:focus,
textarea:focus,
input:valid,
textarea:valid {
    color: #000000 !important;


}
::-webkit-input-placeholder { /* Edge */
    color: #ffffff !important;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff !important;
}
  
::placeholder {
    color: #ffffff !important;
}
.subscribe {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #0D0D2B;
    background: #FFFFFF;
    border-radius: 32px;
}
.subscribe:hover {
    color: #0D0D2B !important;
    background: #FFFFFF !important;
}

footer {
    background: #0D0D2B;
    padding-top: 100px;
}
.quick-links h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-bottom: 2em;
}
ul {
    list-style: none;
}
ul li a {
    text-decoration: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: #F2F2F2;
    mix-blend-mode: normal;
}
ul li a:hover {
    color: #F2F2F2;
}
.payment-gateway {
    padding-left: 5em;
}
.payment-gateway h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    width: 355px;
    padding-bottom: 1em;
}
.brands {
    border-radius: 8px;
}
.brands img {

    height: 25.328128814697266px;
    width: 19.142227172851562px;
    border-radius: 50%;

}
.brand-list {
    display: flex;
    gap: 1em;
}
.footer1 {
    padding-top: 2em;
    padding-bottom: 5em;
}
.footer1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.social {
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

